*{
    margin:0;
    padding: 0;
    /* height: ; */
}


.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons{
    border: 1px solid black;
    min-height: 80px;
    min-width: 80px;
    display: inline-block;
    margin: 10px;
    
    
}

.buttons:hover{
    cursor: pointer;
}


#grey{
    background-color: grey;
}

#red{
    background-color: red;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}